.template-driven-form {
    border: 1px solid #000;
    margin: 1em;
    padding: 2em;
}

input.ng-valid, .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
