<div class="template-driven-form">
    <h1>Professor Form</h1>
    <form (ngSubmit)="onSubmit()" #professorForm="ngForm">
      {{ model | json }}
      <div class="form-group">
        <label for="name" (click)="depura(professorForm)"   >Nombre</label>
        <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="model.name" name="name" [ngModelOptions]="{standalone: true}"
                 appForbiddenName="bob"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            El nombre es requerido
          </div>
      </div>



      <div class="form-group">
        <label for="level">Level:</label>
        <input class="form-control" type="text"
               #spy
               id="level3"
               name="level" [(ngModel)]="model.level" [ngModelOptions]="{standalone: true}"

               appOnlyNumeric
               #level1="ngModel"
        >
        <!-- {{ spy.className }} (Quitar para produccion) -->
        <div [hidden]="level1.valid || level1.pristine"
              class="alert alert-danger">
          Este campo solo soporta numeros.
        </div>
      </div>

      <div class="form-group">
        <label for="city">Ciudad</label>
        <input required type="text" class="form-control" name="city" [(ngModel)]="model.city">
      </div>

      <!-- Enlace de clave y etiqueta -->
      <div class="form-group">
        <label for="power">Asignatura</label>
        <select class="form-control" id="topic" required [(ngModel)]="model.topic" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let topic of topics"
                  [ngValue]="topic.code"
                  [selected]="topic.code === model.topic">{{topic.label}}</option>
        </select>
      </div>

      <button [disabled]="!professorForm.valid"
              type="submit" class="btn btn-success">Submit</button>

    </form>
</div>
